/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --app-background-color: #FFD777;
  --app-primary-color: white;
  --app-font-color: #282A36;
}

body {
  margin: 0;
  background-color: var(--app-primary-color);
  color: var(--app-font-color);
}

.spacer {
  flex: 1 1 auto;
}
